<table border="2px" align="center" width="30%", style="background-color:violet "><td>
<p>
  <strong>Name:</strong>
  <%= @contactadmin.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @contactadmin.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @contactadmin.text %>
</p>

<%= link_to 'Back', contactadmins_path,class:"btn btn-success" %>
</td>
</table>