Dear <%= @user.email %>,

<p><font color="red">Great!! Your order created successfully</font></p>
<p><font color="violet">want to placed product to you....do the next step ...payment.!! Want to order more product visit our site.</font></p>
