<center><h1 style="color:green">Category</h1>
<br>
<%= render 'form', category: @category %>
<br>
<%= link_to 'Show', @category, class:"btn btn-success" %> 
<%= link_to 'Back', categories_path,class:"btn btn-success"  %>
</center>